communityicons
editor
dumps
demos
ghosts
screenshots
teehistorian
videos
maps
autoexec_*.cfg
ddnet-saves.txt
audio
cactus_binds.cfg
bgdraw
downloaded*
*-cache*
*-info.json
*.sqlite*
*.log
*.tmp
*.secret.cfg
*.sqlite-shm
*.sqlite-wal
tclient_profiles.cfg
