ifeq {state} online echo Attempting to log in
password ""
# Localhost
ifreq {server_ip} "^(localhost|127\.+?|192\.168\.+?|10\.0\.0\.+?|\[::1\]|\[fe80:.+?\]):\d+$" exec scripts/auth/localhost.secret.cfg
# AWB https://v2.awb-clan.com/
ifreq {server_ip} "^(49\.13\.73\.199|188\.245\.101\.41|188\.245\.66\.93|20\.215\.41\.104):\d+$" exec scripts/auth/awb.secret.cfg
# KOG
ifeq {community} kog exec scripts/auth/kog.secret.conf
# Blockworlds
ifeq {community} blockworlds exec scripts/auth/blockworlds.secret.conf
# Teefusion
ifeq {community} teefusion exec scripts/auth/teefusion.secret.conf
# qxdFox
ifreq {server_ip} "^85\.215\.138\.194:\d+$" exec scripts/auth/qxdfox.secret.conf
# DDNet DDrace
ifreq "{community} {game_mode}" "ddnet (DDraceNetwork|TestDDraceNetwork)" exec scripts/auth/ddnet.secret.conf
# DDNet FNG
ifeq "{community} {game_mode}" "ddnet fng2" exec scripts/auth/ddnetfng.secret.conf
# DDNet ZCatch
ifeq "{community} {game_mode}" "ddnet zCatch/TeeVi" exec scripts/auth/ddnetzcatch.secret.conf
# DDNet xPanic
ifeq "{community} {game_mode}" "ddnet xPanic" exec scripts/auth/ddnetxpanic.secret.conf
# DDNet Vanilla
ifreq "{community} {game_mode}" "ddnet (DM|CTF)" exec scripts/auth/ddnetvanilla.secret.conf
# DDNet TSmash
ifeq "{community} {game_mode}" "ddnet TSmash" exec scripts/auth/ddnettsmash.secret.conf
# DDNet blockZ
ifeq "{community} {game_mode}" "ddnet blockZ" exec scripts/auth/ddnetblockz.secret.conf
# DDNet iCTF+
ifeq "{community} {game_mode}" "ddnet iCTF+" exec scripts/auth/ddnetictfp.secret.conf
# Private
exec scripts/auth/auth.secret.cfg
# RCon Autoexec
ifeq {rcon_authed} 0 exec scripts/rcon/autoexec.cfg
