tc_mod_weapon -1
tc_mod_weapon_command ""

tc_show_chat_client 0

exec scripts/dynamic_camera_off.cfg
exec scripts/dummy/reset.cfg

# Sewerslide
exec scripts/sewerslide_off.cfg
ifeq {game_mode_pvp} 1 exec scripts/sewerslide_on.cfg
ifeq {map} Linear exec scripts/sewerslide_on.cfg
ifreq {map} "^.*?Copy Love Box.*?$" exec scripts/sewerslide_on.cfg
ifeq {game_mode} 0XF exec scripts/sewerslide_on.cfg

tc_show_chat_client 1
echo [[green]]Settings reset

exec scripts/auth/auth.cfg
