tc_mod_weapon -1
tc_mod_weapon_command ""

# Dynamic camera off
cl_dyncam 0
bind f "exec scripts/dynamic_camera_on.cfg"

# Dummy reset
bind mouse1 "+fire"
bind c "exec scripts/dummy/deep_fly_on.cfg"
cl_dummy_copy_moves 0
bind x "exec scripts/dummy/copy_moves_on.cfg"

# Sewerslide
exec scripts/sewerslide_off.cfg
ifeq {game_mode_pvp} 1 exec scripts/sewerslide_on.cfg
ifeq {map} Linear exec scripts/sewerslide_on.cfg
ifreq {map} "^.*?Copy Love Box.*?$" exec scripts/sewerslide_on.cfg
ifeq {game_mode} 0XF exec scripts/sewerslide_on.cfg

echo [[green]]Settings reset

exec scripts/auth/auth.cfg
